html, body {
    height: 100%;
    background: #F5F5F5;
}
body {
    display: flex;
    flex-direction: column;
}
.navbar-brand {
    font-weight: 600;
    font-size: 22px;
    font-style: italic;
    color: #fff !important;
}
.navbar-author-right {
    color: #fff;
}
.delete-all {
    height: 44px;
    text-align: center;
    line-height: 44px;
    width: 44px;
    margin: 12px auto;
    background: #fff;
    border-radius: 50%;
    margin-bottom: -38px;
    cursor: pointer;
    transition: all 0.5s;
}
.delete-all:hover {
    background: gainsboro;
}
.delete-all img {
    width: 25px;
    height: 25px;
}
.content {
    flex: 1;
    margin: 50px;
    padding: 15px;
    background: #fff;
    border-radius: 20px;
    box-shadow: -1px 3px 5px 0 rgba(0,0,0,.1);
}
.content p {
    text-align: center;
    line-height: 80px;
    color: silver;
}
.todo-item {
    display: flex;
    margin-bottom: 15px;
    background: beige;
    border-radius: 5px;
    height: 32px;
    align-items: center;
    cursor: pointer;
    position: relative;
}
.todo-item.complete {
    text-decoration: line-through;
}
.todo-item img {
    width: 20px;
    height: 20px;
    font-size: 0;
    margin: 0 5px;
}
.todo-item .createTime {
    margin-right: 10px;
    font-size: 10px;
}
.todo-item .content-text {
    word-break: keep-all;
    max-width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
}
.todo-item .delete-todos {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    left: calc(100% - 32px);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-radius: 5px;
    /*background: green;*/
    transition: all 0.5s
}
.todo-item .delete-todos:hover {
    left: 0;
    background-image: linear-gradient(90deg, rgba(255,255,255,0) 00%,rgba(177,0,255, .4) 80%);
}
